<!DOCTYPE html>
@{ AnnetyEntities db = new AnnetyEntities();}
<html>
<head style="fixed">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*.container {
    max-width: 1270px;}*@
</head>
<body class="Body1">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image: url('../../Images/header.jpg');background-repeat:no-repeat;background-size:100% 100%;height:70px;">

        <a >
            <div class="srchbtn" id="srchbtn" style="width:35px;height:25px;background:transparent;position:absolute;left:320px;top:25px;cursor:pointer;" onclick="Search_Box()" ></div>
        </a>

            <div class="homebtn" style="width:170px;height:77px;background:transparent;position:absolute;left:590px;top:0;cursor:pointer;" onclick="location.href ='../Home/Index';">
                <a href="#"></a>
                
            </div>
            <div class="container">

                <input type="text" id="Search_Box" placeholder="Search" style="margin-top:28px;height:11px;border-color:transparent;border-style:hidden;left:0; width:20%" />

                <div class="col-lg-6" style="float:right; margin-left:50px;width:25px;">@Html.Partial("_LoginPartial")</div>
                <a href='../SearchResult/WatchList' style="float: right;margin-top: -5px;margin-left: 900px;">My WatchList</a>
            </div>
        
    </div>    
    
    <div class="MainMenu">

        <div style="padding-top: 10px; padding-left: 20px;background-color:white; ">
            <h4>Boys</h4> <hr />

            @foreach (var item in db.Categories)
            {
                if (item.ParentCategory == true)
                {   <a href='@Url.Action("FromMenu", "SearchResult", new { item.CategoryCode })'>

                    @Html.DisplayFor(modelItem => item.Desc)
                    <br />
                </a>
                }
            }
            <br /><h4>Girls</h4><hr />
            @foreach (var item in db.Categories)
            {
                if (item.ParentCategory != true)
                {  <a href='@Url.Action("FromMenu", "SearchResult", new { item.CategoryCode })'>

                    @Html.DisplayFor(modelItem => item.Desc)
                    <br />
                </a>
                }
            }

        </div>

    </div>
    <div style="padding-bottom:2em; padding-left:215px;">
        @RenderBody()
        @*<hr />*@
    </div>
    
    <footer class="navbar-fixed-bottom">
        <div style="text-align:center;background-color:white;position:fixed;">@Html.ActionLink("New Arrival", "Index", "Home")</div>
        <div class="navbar-collapse collapse" style="text-align: center;background-color:white;background-image:url('../../Images/background.png');background-size:100% 100% ;background-repeat:no-repeat;">
            <ol class="nav navbar-nav" style="background-color:transparent;position:center;margin-left:20%;">

                <li style="margin-right:150px">@Html.ActionLink("About Us", "About", "Home")</li>
                <li style="margin-right:150px">@Html.ActionLink("Contact Us", "Contact", "Home")</li>

                @*@if (Session["isManager"].ToString() == "yes")*@
                
                <li style="margin-right:150px">@Html.ActionLink("For Manager", "Manage", "Home")</li>
                <li style="margin-right:150px; ">@Html.ActionLink("Sale", "Index", "Home")</li>
            </ol>

        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script >
        srchbtn.onclick = Search_Box
       
        function Search_Box()
        {
            if (document.getElementsByTagName("BODY")[0].style.backgroundColor == "yellow")
                document.getElementsByTagName("BODY")[0].style.backgroundColor = "red";
            else
                document.getElementsByTagName("BODY")[0].style.backgroundColor = "yellow";
       

            $.ajax({
                url: '@Url.Action("../SearchResult/Search_Box")',
                type: 'GET',
                dataType: 'json',
                // we set cache: false because GET requests are often cached by browsers
                // IE is particularly aggressive in that respect
                cache: false,
                data: { Search_Box: document.getElementById('Search_Box').value },

            });

        //    var url = 'Controllers/SearchResult/Search_Box/' + Search_Box.value;

        //    $.ajax({
        //        url: url,
        //        data: {}, //parameters go here in object literal form
        //        type: 'GET',
        //        datatype: 'json'
        //    });
        }

     
    </script>
</body>



</html>
